In [1]:
# importing python pandas & setting the path  
import pandas as pd
from pathlib import Path

In [2]:
# set the path of the data file
csvpath = Path("budget_data.csv")

In [3]:
# setting up the data frame
budget_dataframe = pd.read_csv(csvpath)
budget_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [16]:
# renaming the columns of the data frame
budget_dataframe = budget_dataframe.rename(columns={
    "Date": "Date",
    "Profit/Losses": "Profit_Loss"
})

budget_dataframe.head()

       Date  Profit_Loss
0  Jan-2010       867884
1  Feb-2010       984655
2  Mar-2010       322013
3  Apr-2010       -69417
4  May-2010       310503

In [17]:
# extracting the total number of months in the data set
total_number_of_months = budget_dataframe.Date.count()
print(total_number_of_months)

86

In [ ]:
net_profit_loss = 0
counter = 0
while counter < budget_dataframe.Date.count():
    net_profit_loss += budget_dataframe.Profit_Loss[counter].value()
    counter +=1
print(net_profit_loss)

In [ ]:
print(net_profit_loss)